<div class="container-fluid" >
  <div class="row 1">
    <div class="col-sm-12" style="height: 50px; background-color:rgb(205, 212, 221); text-align: center;">
      <app-header></app-header>
    </div>
  </div>
  <div class="row 2"  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.jpg');
   height: 11vh;">  
    <div class="col-sm-8" style=" text-align: center;">
      <app-mainbanner></app-mainbanner>
    </div>
    <div class="col-sm-2" >
      <div class="vertical">
        <h5><img src="assets/calllogo.png" style="height: 30px; width: 30px;" class="img-thumbnail">Contact us</h5>
        <a href="callto:9842651789">+919856478652</a>
      </div>
    </div>
    <div class="col-sm-2" >
       <h5><img src="assets/emaillogo.png" style="height: 30px; width: 30px;" class="img-thumbnail">Email us </h5>
            <a href="mailto:saumyacustoms@gmail.com">saumyacustoms@gmail.com</a>
            <hr>
    </div>
  </div>
  <div class="row 3"style="background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/014.jpg');
  height: 40vh;">
    <div class="col-sm-12">
      <app-body></app-body>
    </div>
  </div>
  <div class="row 4">
    <div class="col-sm-4" class="h25">
      <h5  style="text-align: center;">GT STYLE SEAT</h5><br>
     <img class="product1" src="assets/download.jpeg"><br>
     <h5  style="text-align: center;">Price Rs 4999/-</h5>
    </div> <br><br><br><br>
    <div class="col-sm-4" class="h25">
      <h5  style="text-align: center;">LINE TOURER STYLE SEAT</h5><br>
     <img class="product1" src="assets/download2.jpg"><br>
     <h5  style="text-align: center;">Price Rs 6999/-</h5>
    </div> 
    <div class="col-sm-4" class="h25">
      <h5  style="text-align: center;">CRUISER STYLE SEAT</h5><br>
     <img class="product1" src="assets/download3.jpeg"><br>
     <h5  style="text-align: center;">Price Rs 8999/-</h5>
    </div>
  <div class="row 5" style="height: 105px; text-align: center;" >
    <form action="" style="text-align: center;"> 
      <pre>

      <input type="text" name="text" align="left"/><input type="button" onclick="alert('Account Successfully Created')" value="Signup" style="color: rgb(235, 237, 241);background-color: rgb(74, 138, 74);">
      </pre>  
    </form> 
  </div>
  <div class="row 6" class="h100" style="background-color: black; color: blanchedalmond;">
     <app-footer></app-footer>
  </div>
  </div>
</div>